/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid darkgrey;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.mh {
    text-align: center;
    color: white;
    margin: 25px;
    font-size: 45px;
    letter-spacing: 1px;
    background: linear-gradient(to right, #f71e1e, #ffbf00);
    border-radius: 6px;
}

.moto {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}

nav {
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.15);
}

nav a {
    text-decoration: none;
    color: #205a72;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 4px;
}

.abouth {
    text-align: center;
    color: white;
    letter-spacing: 2px;
    background-color: ;
    border-bottom: 6px solid rgba(183, 139, 35, 0.911);
    width: 20%;
    margin: 40px auto;
    font-size: 25px;
}

.aboutd {
    text-align: center;
    color: white;
    margin: 15px 0 30px;
    line-height: 1.3;
    background-color: #0f2027;
    width: 45%;
    margin: 20px auto;
    border-radius: 6px;
    padding: 10px;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    background-color: white;
    width: 420px;
    padding: 25px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 25px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

textarea {
    resize: none;
    height: 70px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 7px;
    margin-top: 10px;
}

input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

input[type="submit"] {
    background: #2c5364;
    color: white;
}

input[type="submit"]:hover {
    box-shadow: 0 8px 14px rgb(11, 25, 134);
}

input[type="reset"] {
    background: #2c5364;
    color: white;
}

input[type="reset"]:hover {
    background: rgb(3, 3, 3);
}

.Courses {
    background-color: white;
    width: 15%;
    text-align: center;
    border-radius: 7px;
    font-weight: bold;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
}

ul {
    margin: 30px;
    list-style-type: none;
}

ul li {
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(239, 245, 251);
    text-shadow: 0 1px 3px rgb(72, 82, 194);
}

ul p {
    margin: 10px auto;
    font-weight: 500;
    color: white;
}

ul button {
    margin-left: 20px;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, #00c6ff, #00fffb);
    color: white;
    font-weight: 500;
}

ul button:hover {
    box-shadow: 0 4px 14px rgb(72, 113, 108);
}

footer {
    text-align: center;
    background-color: white;
    font-weight: bold;
}